In [1]:
import pandas as pd

df  = pd.read_pickle("Path/to/pickle")

def get_year(x):
    return int(x['date'].split(',')[1])

df['year'] = df.apply(get_year, axis=1)

df.head()

,title,authors,date,abstract,key_phrases_for_abstract,year
0,The Taste of Blood in Mosquitoes,"['Veronica Jové', 'Zhongyan Gong', 'Felix J.H....","February 27, 2020","<div class=""section abstract"" id=""abstract-1"">...","[[0.12872652293638281, 1, specific blood compo...",2020
1,Frequency of mispackaging of Prochlorococcus D...,"['Raphaël Laurenceau', 'Nicolas Raho', 'Mathie...","February 27, 2020","<div class=""section abstract"" id=""abstract-1"">...","[[0.11659599343480787, 3, mispackaging frequen...",2020
2,Deciphering and modelling the TGF-β signalling...,"['Swann Floc’hlay', 'Maria Dolores Molina', 'C...","February 27, 2020","During sea urchin development, secretion of No...","[[0.09593410918875883, 1, recombinant nodal], ...",2020
3,Chemical and structural investigation of the p...,"['Jonathan A. Coleman', 'Vikas Navratna', 'Dan...","February 27, 2020","<div class=""section abstract"" id=""abstract-1"">...","[[0.0819596410536394, 3, paroxetine], [0.07445...",2020
4,60S subunit joining exposes nascent pre-40S rR...,"['Jay Rai', 'Melissa D. Parker', 'Haina Huang'...","February 27, 2020","During their maturation, nascent 40S subunits ...","[[0.11248996696958122, 3, quality control], [0...",2020

In [3]:
from collections import defaultdict

global doc_occurrence_dict #Number of documents the phrase occured in
global score_dict #Average score for each phrase

phrases_dict = defaultdict(list)

def cal_docOccurNum_freq_score(x):
    global doc_occurrence_dict
    global score_dict
    for phrase in x['key_phrases_for_abstract']:
        doc_occurrence_dict[phrase[2]] += 1
        score_dict[phrase[2]] += phrase[0]

for year in df['year'].value_counts().index.tolist(): 
    doc_occurrence_dict = defaultdict(int)
    score_dict = defaultdict(int)
    
    df[df['year']==year].apply(cal_docOccurNum_freq_score, axis=1)
    
    for phrase in list(doc_occurrence_dict.keys()):
        phrases_dict[phrase].append([year, doc_occurrence_dict[phrase], score_dict[phrase]/doc_occurrence_dict[phrase]])

In [5]:
dict_for_df = {}
years = df['year'].value_counts().index.tolist()
years.sort()

for phrase in list(phrases_dict.keys()):
    tmp_freq = []
    total_occur_docs_num = 0
    total_scores = 0
    for year in years:
        for item in phrases_dict[phrase]:
            if item[0] == year:
                total_occur_docs_num+=item[1]
                total_scores+=item[2]
                flag = 0
                break
    
    tmp_freq.append(total_scores)
    tmp_freq.append(total_occur_docs_num)
    
    dict_for_df[phrase] = tmp_freq

In [6]:
phrases_name = []
occur_docs_num = []
scores = []

for phrase in list(dict_for_df.keys()):
    phrases_name.append(phrase)
    occur_docs_num.append(dict_for_df[phrase][-1])
    scores.append(dict_for_df[phrase][-2]/dict_for_df[phrase][-1])
    
df_with_occur_doc_num = pd.DataFrame({'phrases_name':phrases_name, 
                   'occur_docs_num':occur_docs_num,  
                   'scores':scores})
df_with_occur_doc_num

,phrases_name,occur_docs_num,scores
0,human cells,415,0.001354
1,embryonic stem cells,80,0.008111
2,cell cycle duration,8,0.038050
3,interspecies differences,4,0.037606
4,vitro directed differentiation,1,0.087012
...,...,...,...
1587403,predominant selfing,1,0.067735
1587404,an evolutionary and ecological model sister sp...,1,0.066376
1587405,this sister pair,1,0.060052
1587406,"ongoing, bidirectional introgression",1,0.054157
1587407,the last 200 to 500 thousand years,1,0.010513

In [7]:
df_with_occur_doc_num_more_than_1 = df_with_occur_doc_num[df_with_occur_doc_num['occur_docs_num']!=1]
df_with_occur_doc_num_more_than_1

                             phrases_name  occur_docs_num    scores
0                             human cells             415  0.001354
1                    embryonic stem cells              80  0.008111
2                     cell cycle duration               8  0.038050
3                interspecies differences               4  0.037606
5                       human development              34  0.009934
...                                   ...             ...       ...
1583752          their particular society               2  0.034988
1583753             one-shot interactions               2  0.032297
1583758               our hunter-gatherer               2  0.026670
1584627             the data rate theorem               2  0.032244
1585043  comparative phylogenetic studies               2  0.046506

[239608 rows x 3 columns]

In [8]:
df_with_occur_doc_num_more_than_1 = df_with_occur_doc_num_more_than_1.sort_values(by=['scores'])
df_with_occur_doc_num_more_than_1

                               phrases_name  occur_docs_num    scores
35345                               nothing              23  0.000000
38924                                  whom              33  0.000000
990276                                  384               2  0.000000
514227                                  0.5               4  0.000000
513500                                   87               3  0.000000
...                                     ...             ...       ...
1558998  single cell expression experiments               2  0.158760
442634                        pha synthases               2  0.161386
953679                  nk cell development               2  0.166573
160264                    nkt cell function               2  0.170056
44821                  secondary cell walls               2  0.175754

[239608 rows x 3 columns]

In [ ]:
df_with_occur_doc_num_more_than_1.to_pickle("path/to/output/pickle")